.color{
    background-color: #0c6168;
    color: white;
}

.logo img{
    height: 70px;
    width: 90px;
   
}
.name{
    padding: 10px;
    padding-left: 120px;
}
.name h1{
    font-size: 60px;
}
.menu a{

    padding: 15px;
    text-decoration: none;
    color: white;
    border-radius: 10px gray;
}
.menu a:hover{
    background-color: rgb(92, 169, 242);
}
.menu{
    text-align: center;
    padding-top: 25px;

}
